/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:#114232;
    color: #fff;
    width: 100%;

  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #333838;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  .img1 {
    max-height: 70vh;
    width: 100%;
    animation: zoomInOut 10s infinite alternate;
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .custom-img {
    position: relative;
  }

  .custom-img h1,
  .custom-img h2,
  .custom-img h3 {
    position: relative;
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .custom-img h1 {
    font-size: 40px;
  }

  .custom-img h2 {
    font-size: 24px;
  }

  .custom-img h3 {
    font-size: 35px;
    color: #e9e9e979;
    top: -300px;
  }

  .card-container {
display: flex;
gap: 10px; /* Adjust the gap as needed */
justify-content: space-between;
margin-top: 20px;
}

.card {
background-color: #114232;
color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: 1s;
width: 20%; /* Adjust the width as needed */
height: 520px;
position: relative;
top: -270px;


}

.card:first-child {
left: 8%;
}

.card:nth-child(2) {
right: -3%; /* Adjust the value as needed */
}

.card:nth-child(3) {
right:2% ; /* Adjust the value as needed */
}

.card:nth-child(4) {
right:7%;
left: -15;
}

  .card:hover {
   transform: scale(1.2);
   z-index: 2;
  }

  .card h4 {
    font-size: 5vh;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #7F9F80;
  }

  .card h2 {
    font-size: 17px;
    position: absolute;
    top: 275px;
    left: 20%;
    color: 
    
    #8CA56B;
  }

  .card img {
    width: 20vh;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hardware {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    height: 100vh; /* Adjust the height based on your design */
  }
  
.hardware h1{
  position: relative;
  top: -200px; /* Adjust the top property based on your design */


  color: #114232; 
  font-size: 40px;
}
.hardwareimg
{
  margin-top: -150px;
  width: 116vh;
  display: block;
}
.hardware h2{
  position: relative;
  top: 40px; /* Adjust the top property based on your design */
  color: black;
  font-size: 20px;

 
}
.button {
  position: relative;
  background-color:  #114232;
  border-radius:89px;
  top: 40px;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #04AA6D;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
  .feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust the height based on your design */
    width: 80%;
    margin: -10% auto; /* Center the .feature-box horizontally */
    background: transparent;

  }
  
  .feature-box h1 {
    margin-top: -40px;/* Adjust the margin-top based on your design */
    color: #436850;
    font-size: 60px;
    text-align: center; /* Align text horizontally in the center */
  }
  
  .feature-box h2 {
    margin-top: 2vh;
    color: black;
    font-size: 30px;
  }
  
  .feature-box h3 {
    margin-top: 3vh;
    color: black;
    font-size: 16px;
  }
  
  .container1 {
    width: 550px;
   
    margin-top: 30px;
    margin-right: 100vh; /* Adjust as needed */
    height: 250px;
  
  }
  
  
    .box1 {
      position: relative;
      width: 550px;
      height: 150px;
      background: #114232;
      border-radius: 50px;
      margin-top: -1px;
      right: -120px;
      top: 40px;
  }
  .box1 h1 {
    position: relative;
    top: 50px; /* Adjust the top property based on your design */
    color: white;
    font-size: 20px;
  }

   
  .box2 {
    position: relative;
    width: 550px;
    height: 150px;
    background: #114232;
    border-radius: 50px;
    margin-top: -1px;
    right: -800px;
    top: -65px;
}

  .box2 h1 {
    position: relative;
    top: 50px; /* Adjust the top property based on your design */
    color: white;
    font-size: 20px;;
  }

   
  .box3 {
    position: relative;
    width: 550px;
    height: 150px;
    background: #114232;
    border-radius: 50px;
    margin-top: -1px;
    right: -120px;
    top: 10px;
}

  .box3 h1 {
    position: relative;
    top: 10px; /* Adjust the top property based on your design */
    color: white;
    font-size: 20px;;
  }
  .box4 {
    position: relative;
    width: 550px;
    height: 150px;
    background: #114232;
    border-radius: 50px;
    margin-top: -1px;
    right: -800px;
    top: -40%;
}

  .box4 h1 {
    position: relative;
    top: 10px; /* Adjust the top property based on your design */
    color: white;
    font-size: 20px;;
  }

  .gif{
    margin-top: 500px;
    margin-right: 1000px;

  }
.gif h2{
  margin-top: 350px;

 margin-left: 550px;
 font-size: 40px;
}
.gif img{
  margin-top: 20px;
 margin-left: 650px;

}
.gif h3{
  margin-top: 30px;

 margin-left: 70px;
 font-size: 24px;
}

.display{
  margin-top: 10px;

  background:  #114232;
  width: 950px;
  margin-left: 350px;
  height: 150px;
  border-radius: 10px;

}


.display h3{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}
  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
       -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  .footer{
    background:#114232;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

    
.popup{
  width: 400px;
  background: #fff;
  border-radius:6px ;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
visibility: hidden;

}

.open-Popup{
  visibility: visible;
  top: 50%;
  transform:translate(-50%,-50%) scale(1) ;
}
.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background:#6fd649 ;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.group {
margin: 20px 0px 20px 0px;
}

.signin {
min-height: 300px;
align-items: center;
text-align: center;
padding: 0px 30px;
border-radius: 10px;
background-color: #fff;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.forgot-pass-link {
float: right;
}

.group input {
width: 280px;
height: 35px;
border: 0px;
outline: none;
font-size: 13px;
padding: 0px 10px 0px 10px;
border-bottom: 1px solid #aaa;
font-family: "Poppins", sans-serif;
transition: 0.5s;
}

.group input:hover {
border-bottom: 1px solid #000;
}

.group button {
width: 300px;
height: 45px;
outline: none;
border: none;

background-color: #114232;
color: #fff;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 16px;
border-radius: 5px;
}

.sign-up-link {
text-align: center;
padding-bottom: 0px;
}

a {
text-decoration: none;
color: gray;
font-weight: 400;
cursor: pointer;
transition: 0.5s;
}

a:hover {
color: #000000;
}

label {
font-weight: 400;
float: left;
}

.head {
float: left;
margin-top: 0px;
}

.head p {
margin-top: -20px;
color: gray;
font-weight: 400;
padding-bottom: 20px;
float: left;
}

.field-icon {
float: right;
margin-left: -30px;
margin-top: 8px;
position: absolute;
z-index: 2;
}

.group button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.group button span:after {
content: "\00bb";
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.group button:hover span {
padding-right: 25px;
}

.group button:hover span:after {
opacity: 1;
right: 0;
}

@media screen and (max-width: 400px) {
.signin {
  border: 0;
  padding: 0px;
  border-radius: 10px;
  box-shadow: none;
}
}
